Django==3.2.9
psycopg2-binary==2.9.3
Pillow==9.0.0
django-storages==1.12.3
boto3==1.24.44
django-crispy-forms==1.14.0
django-filter==2.4.0
django-allauth==0.50.0
django-bootstrap4==22.1
django-debug-toolbar==3.2.4
django-extensions==3.2.0
django-summernote==0.8.20.0
django-taggit==1.5.1
django-taggit-templatetags==1.9.2
django-treebeard==4.5.1
django-webpack-loader==0.7.0
django-widget-tweaks==1.4.8
django-ckeditor==6.2.0
django-ckeditor-filebrowser-filer==1.1.1
django-embed-video==1.3.0
django-filebrowser==3.12.0
django-grappelli==2.15.3
django-import-export==2.6.2
django-mptt==0.13.4
django-polymorphic==3.1.0
django-polymorphic-inheritance==1.3.0
django-redirect-url==0.1.0
django-reversion==4.0.1
django-select2==7.7.0
django-tag-parser==1.2.0
django-taggit-autocomplete-modified==0.3.0
django-taggit-serializer==0.2.0
django-treebeard-drf==0.2.0
django-webpack-loader-drf==0.2.0
drf-yasg==1.20.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
markdown==3.3.6
pyjwt==2.3.0
requests==2.27.1
requests-toolbelt==0.9.1
sqlparse==0.4.2
stripe==2.63.0
stripe-python==2.63.0
twilio==6.67.0